@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "./tooltip.css";
@import "./animation.css";

* {
  font-family: "Inter", sans-serif;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  --yellow: #f0c52b;
  --primary: #3e6bea;
  background-color: #f5f7f9;
}

button {
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  padding: 0;
  position: relative;
}

button:hover::after {
  content: "";
  background-color: #fff;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

button:active::after {
  content: "";
  background-color: #000;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hidden {
  display: none !important;
}

#container {
  box-sizing: content-box;
  padding: 20px 20px 60px;
}

#instructions {
  font-size: 1em;
  line-height: 1.5em;
}

header {
  margin: 0;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  color: var(--primary);
  font-size: 3em;
  letter-spacing: 1px;
}

h5 {
  margin: 0;
}

#github a {
  color: var(--primary);
  text-decoration: none;
}

.fa-github {
  margin-right: 5px;
}

#roulette-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: var(--roulette-diameter);
  margin: 60px auto 0;
}

#pointer {
  z-index: 2;
  width: 4%;
  position: absolute;
  top: -2px;
}

#pointer polygon {
  stroke-width: 1;
  fill: #ea613d;
  stroke: #864e3e;
}

#roulette-wrapper {
  position: relative;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--yellow);
  border: 15px solid var(--yellow);
  box-sizing: border-box;
  overflow: hidden;
}

#roulette-wrapper-line-1 {
  border: 1px solid #9c831d;
  border-radius: 50%;
}

#roulette-wrapper-line-2 {
  border: 3px solid var(--yellow);
  border-radius: 50%;
}

#roulette-wrapper-size-delimiter,
#roulette-wrapper-line-0 {
  border: 1px solid #666254;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px 0px rgb(41 40 37 / 70%);
}

#roulette-wrapper-size-delimiter {
  width: 100%;
  max-width: var(--roulette-diameter);
  max-height: var(--roulette-diameter);
  box-sizing: border-box;
}

#roulette-wrapper-line-0 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
}

#roulette {
  width: 100%;
  height: 100%;
  display: flex;
  /* animation only used when generating the first time*/
  animation: one_round_spin 2s ease;
}

#roulette-names {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#roulette-slices,
#roulette-names {
  width: 100%;
  max-width: var(--roulette-diameter);
  max-height: var(--roulette-diameter);
}

.slice {
  transform-origin: 50% 50%;
}

.slice-color-1 {
  fill: #324d96;
}
.slice-color-2 {
  fill: #3457b3;
}
.slice-color-3 {
  fill: #5081f1;
}

.slice-name {
  fill: transparent;
  transform-origin: 50% 50%;
  text-align: center;
}

.slice-name-text {
  font-weight: 600;
  fill: #fff;
  font-size: 13pt;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#spin {
  --diameter: 15%;
  font-size: 13pt;
  font-weight: 600;
  background: linear-gradient(
    0deg,
    rgb(179 133 17) 0%,
    rgba(255, 218, 0, 1) 100%
  );
  border-radius: 50%;
  height: var(--diameter);
  width: var(--diameter);
  top: calc(50% - var(--diameter) / 2 + 1px);
  left: calc(50% - var(--diameter) / 2 + 1px);
  text-align: center;
  position: absolute;
  letter-spacing: 1px;
  z-index: 2;
  color: #324d96;
  border: 1px solid;
  animation: bounce 0.6s ease;
  box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 30%);
}

#spin:hover {
  --diameter: 15.5%;
}

#spin:active {
  --diameter: 14.5%;
}

#generate-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

#generate-form p {
  text-align: left;
  font-size: 11pt;
}

#generate-form textarea {
  font-size: 11pt;
  line-height: 18pt;
  margin-bottom: 20px;
  padding: 7px 10px;
  border: 1px solid #d4d2d5;
  box-shadow: inset 0px 0px 4px 3px rgba(212, 210, 213, 0.1);
  border-radius: 0.25rem;
  resize: vertical;
}

.primary-button {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
}

.secondary-button {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid;
}

#generate-form button {
  padding: 12px 13px;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  transition: top 0.2s ease;
}

#generate-form button:active {
  top: 3px;
  transition: top 0.2s ease;
}

#generate-form-buttons {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.fake-input {
  padding: 0;
  height: 0;
  overflow: hidden;
}

#presets {
  width: 600px;
  margin: 30px auto 0;
}

#presets p {
  font-size: 0.9em;
}

#presets p,
#presets h4 {
  text-align: left;
  margin: 0;
}

#preset-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

#preset-buttons button {
  margin-right: 10px;
  color: #6f7072;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 5px 12px;
  background-color: transparent;
  font-weight: 600;
}
