#instructions {
  width: 100%;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  line-height: 1.5rem;
  text-align: left;
  color: var(--offwhite);
  margin-top: 10px;
  align-self: stretch;

  .law-of-large-numbers-explanation {
    padding: 4px;
  }
}
