[data-tooltip] {
  --tooltip-background-color: rgba(0, 0, 0, 0.8);

  overflow: visible;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

[data-tooltip]::before {
  position: absolute;
  width: max-content;
  min-width: 80px;
  max-width: 280px;
  word-break: break-word;
  font-size: 0.8rem;
  line-height: 1.2rem;
  background-color: var(--tooltip-background-color);
  color: #fff;
  border-radius: 0.25rem;
  padding: 7px 10px;
  letter-spacing: 0 !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  animation: tooltip_appearing 0.4s ease-in;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 4;
}

[data-tooltip]::after {
  position: absolute;
  width: 0;
  height: 0;
  animation: tooltip_appearing 0.4s ease-in;
  z-index: 5;
}

[data-tooltip]:hover::before,
[data-tooltip]:active::before {
  content: attr(data-tooltip);
}

[data-tooltip]:hover::after,
[data-tooltip]:active::after {
  content: "";
}

.tooltip--bottom::before {
  bottom: -10px;
  transform: translateY(100%);
}
.tooltip--bottom::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid var(--tooltip-background-color);
  bottom: -4px;
  transform: translateY(100%);
}

.tooltip--top::before {
  top: -10px;
  transform: translateY(-100%);
}
.tooltip--top::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--tooltip-background-color);
  top: -5px;
  transform: translateY(-100%);
}

.tooltip--right::before {
  right: -10px;
  transform: translateX(100%);
}
.tooltip--right::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 6px solid var(--tooltip-background-color);
  right: -5px;
  transform: translateX(100%);
}

.tooltip--left::before {
  left: -10px;
  transform: translateX(-100%);
}
.tooltip--left::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid var(--tooltip-background-color);
  left: -5px;
  transform: translateX(-100%);
}

.tooltip--bottom-right::before {
  right: 100%;
  bottom: -10px;
  transform: translateX(100%) translateY(100%);
}
.tooltip--bottom-right::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid var(--tooltip-background-color);
  right: calc(100% - 6px);
  bottom: -5px;
  transform: translateX(100%) translateY(100%);
}

.tooltip--bottom-left::before {
  left: 100%;
  bottom: -10px;
  transform: translateX(-100%) translateY(100%);
}
.tooltip--bottom-left::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid var(--tooltip-background-color);
  left: calc(100% - 6px);
  bottom: -5px;
  transform: translateX(-100%) translateY(100%);
}

.tooltip--top-right::before {
  right: 100%;
  top: -10px;
  transform: translateX(100%) translateY(-100%);
}
.tooltip--top-right::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--tooltip-background-color);
  right: calc(100% - 6px);
  top: -5px;
  transform: translateX(100%) translateY(-100%);
}

.tooltip--top-left::before {
  left: 100%;
  top: -10px;
  transform: translateX(-100%) translateY(-100%);
}
.tooltip--top-left::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--tooltip-background-color);
  left: calc(100% - 6px);
  top: -5px;
  transform: translateX(-100%) translateY(-100%);
}

/* This tooltip type has no arrow pointing to the element
and doesn't require hovering */
.tooltip--notification::before {
  content: attr(data-tooltip);
}
.tooltip--notification::after {
  content: unset !important;
}

.tooltip--no-arrow::after {
  content: unset !important;
}

@keyframes tooltip_appearing {
  from {
    opacity: 0;
  }
}
