.entries {
  align-self: stretch;

  &-title {
    font-weight: bold;
    padding: 9px 5px;
    font-size: 0.9rem;
    color: var(--yellow);
  }

  .textarea-container {
    position: relative;

    textarea {
      color: #fdf6f6;
      width: 100%;
      font-size: 1rem;
      line-height: 20pt;
      padding: 12px 20px;
      padding-right: 40px;
      resize: vertical;
      background-color: rgba(255, 255, 255, 0.07);
      border: 1px solid rgba(255, 255, 255, 0.05);
      border-top: 3px solid var(--yellow);
      appearance: none;
      border-radius: 0.25rem;
    }

    .share-button {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 17px;
      color: var(--yellow);
      cursor: pointer;
      padding: 12px;

      i {
        opacity: 0.6;
      }

      &:hover i {
        opacity: 1;
      }

      &:active i {
        opacity: 0.6;
      }
    }
  }
}
